.vs
/akmsservice/.dockerignore
/akmsservice/bin
/akmsservice/obj
/akmsservice/Dockerfile
/akmsservice/logs
/akmsservice/.cr
/Application/bin
/Application/obj
/Core/bin
/Core/obj
/Infrastructure/bin
/Infrastructure/obj